<div class="jumbotron">
<p id="notice"><%= flash[:notice] %></p>
<h1><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Myブック</h1>
<p>読んだ本をまとめるサイトです。</p>
<p>詳しい情報は名前をクリックしてください。</p>
     <%=link_to '新しい本を登録する', new_book_path %>
</div>     
<div class='row row-height'>
  <% for b in @books %>
     <% @book_NO = @book_NO +1%>
   <div class="col-md-3">
    <div class="panel panel-success">
      <div class="panel-heading">      
     <h4> NO.<%=@book_NO %>:<%=b.name %></h4>
      </div>
      <div class="panel-body">
     <p>登録日<%=b.created_at %></p>
     <p>最終更新日<%=b.updated_at %></p>
      </div>
      <div class="panel-footer">
     <%=link_to '詳しく見る', book_path(id:b.id,book_NO: @book_NO), target: "_brank" %>
    </div>
    </div> 
    </div>
  <% end %>
</div>     
     